# http://editorconfig.org

# This is the project's root directory
root = true

# Unix-style newlines with a newline ending every file
[*]
# The files are utf-8 encoded
charset = utf-8
# Each indent should contain 2 spaces
indent_size = 2
# Use Unix line endings
end_of_line = lf
# Use spaces for indentation
indent_style = space
# A file must end with an empty line - this is good for version control systems
insert_final_newline = true
# No whitespace at the end of line
trim_trailing_whitespace = true

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

# ================================================
# 4 SPACE INDENTATION
# ================================================
[*.{py,java,r,R}]
indent_size = 4
indent_style = space

[Dockerfile]
indent_size = 4

[{go.mod,go.sum,*.go,.gitmodules}]
indent_size = 4
indent_style = tab

# ================================================
# 2 SPACE INDENTATION
# ================================================
[*.{js,json,y{a,}ml,html,css,cwl,rb,sh}]
indent_size = 2
indent_style = space

[*.{md,Rmd,rst}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false